* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-create {
    background: linear-gradient(90deg, #0099DA 0%, #0099DA 30%, #003369 30%, #003369 100%);
    font-size: 62.5%;
}

.checkinForm {
    position: relative;
    width: 100%;
    padding: 4em 8em;

}

.checkinForm .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FFF;
}


.checkin {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box {
    position: relative;
    margin-top: 1.4rem;

}

.checkin h3 {
    color: #003369;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}


/* Style for each form group */
.form-group {
    margin-bottom: 1rem;
}

/* Style for labels */
.form-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

/* Style for input fields */
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for the submit button */
.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #08c792;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    background: #fff;
}

.bg-view {
    background-color: #FFF;
}

.navbar-expand .navbar-nav{
    margin-left: auto;
}

.signature-pad {
    border: 2px solid #000;
    border-radius: 5px;
}

textarea[name="remark"] {
    width: auto;  /* Set the width */
    height: 100px; /* Set the height */
    resize: none;  /* Prevent resizing */
}