{% extends 'base.html' %} {% block title %}
<title>CFS1 CHECK-IN</title>
{% endblock title %} {% block content %}
<div class="bg-view">
	<div class="container">
		<div class="px-5 my-5 text-center">
			<h1>CHECK-IN LIST VIEW</h1>
			<!-- Date Picker -->
			<form method="get" class="form-inline mb-2 d-flex justify-content-start align-items-center">
				<label for="date" class="me-2" style="white-space: nowrap;">Chọn ngày:</label>
				<input
					type="date"
					id="date"
					name="date"
					value="{{ request.GET.date|default:today|date:'Y-m-d' }}"
					class="form-control mx-2"
				/>
				<button type="submit" class="btn btn-primary">Filter</button>
			</form>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">SỐ XE</th>
					<th scope="col">TÊN TÀI XẾ</th>
					<th scope="col">SỐ ĐIỆN THOẠI</th>
					<th scope="col">GIỜ CHECK-IN</th>
					<th scope="col">NHÀ MÁY</th>
					<th scope="col">SHIPPER</th>
					<th scope="col">GHI CHÚ</th>
					<th scope="col">CHỮ KÝ</th>
					<th scope="col" class="px-4">Action</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for checkin in object_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ checkin.truck_number }}</td>
					<td>{{ checkin.driver_name }}</td>
					<td>{{ checkin.phone_number }}</td>
					<td>{{ checkin.checkin_time|date:"H:i d/m/y" }}</td>
					<td>{{ checkin.factory.factory_name }}</td>
					<td>{{ checkin.shipper }}</td>
					<td>{{ checkin.remark }}</td>
                    <td>
						{% if checkin.signature %}
							<img src="{{ checkin.signature }}" alt="Signature" style="max-height: 50px; max-width: 100px;">
						{% else %}
							No signature
						{% endif %}
					</td>
					<td>
						<a href="{% url 'checkin:checkin-update' checkin.id %}">
							<button
								type="button"
								class="btn btn-sm btn-primary mx-2"
								data-form-url=""
							>
								<span class="fa fa-pencil"></span>
							</button>
						</a>
						<a href="{% url 'checkin:checkin-delete' checkin.id %}">
							<button
								type="button"
								class="btn btn-sm btn-danger"
								data-form-url=""
							>
								<span class="fa fa-trash"></span>
							</button>
						</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="9" class="text-center">
						No check-ins available
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}
